.grid-box {
    background-color: teal;
    border: .2em solid white;
    color: teal;
    height: 10em;
    width: 100%;
    /* position: relative; */
}

.grid {
    /* display: grid; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.big-box {
    background-color: teal;
    border: .2em solid white;
    color: teal;
    height: 20em;
    display: flex;

}