.grid-box {
    background-color: #0ba5a5;
    border: .2em solid white;
    color: #0ba5a5;
    height: 6em;
    width: 100%;
    /* position: relative; */
}

.grid {
    /* display: grid; */
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;

}

.big-box {
    background-color: #0ba5a5;
    border: .2em solid white;
    color: #0ba5a5;
    height: 15em;
    display: flex;

}

.bottom-box {
    background-color: yellowgreen;
    color: yellowgreen;
    ;
}

.circles{
    width: 15px;
    height: 10px;
    border-radius: 50%;
}

.pink{
    background-color: pink;
    position: absolute;
    right: 150px;

}